@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/themes";

.projectList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  background-color: $kv-black;
}

.hed,
.subhed {
  color: $kv-white;
}
