@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/themes";

.project {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 600px;
  margin: 0 auto;

  &__tech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  &__tech-name {
    margin: 0 1rem;
  }

  &__tech-subhed {
    color: $kv-white;
    font-size: 28px;
  }

  &__tech-desc {
    color: $kv-white;
    margin: 1rem 0 0 1rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;
  }

  &__button-link {
    color: silver;
    margin: 0 1rem;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border: 2px solid silver;
    border-radius: 10px;
    min-width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__button-subhedLink {
    text-decoration: none;
  }

  &__button-subhedLink:hover {
    color: white;
    text-decoration: underline;
  }

  &__button-link:hover {
    color: white;
    border: 2px solid white;
  }

  &__button-link:hover {
    text-decoration: underline;
    color: white;
  }
}
