@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/themes";

.hero {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  background-color: $kv-black;
  border-top: 2px solid $kv-white;
  border-bottom: 2px solid $kv-white;
}

.hed,
.subhed {
  color: $kv-white;
}
