@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/themes";

.hero {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $kv-black;
  background-image: url(../../assets/images/Vancouver.jpg);
  background-size: cover;
  background-position: center;
  &__hed {
    color: black;
  }
  &__subhed {
    color: black;
  }
}
