@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/themes";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $kv-black;
  padding-top: 1rem;
  background-color: black;

  &__logoList {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.hed,
.subhed {
  color: $kv-white;
}
