@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/themes";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $kv-black;
  padding-top: 1rem;
  background-color: black;
  border-top: 2px solid $kv-white;

  &__logoList {
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__logoList-container {
    height: 40px;
    width: 50px;
  }

  &__logo-icon {
    color: silver;
    font-size: 40px;
  }

  &__logo-icon:hover {
    color: white;
    font-size: 42px;
  }
}

.headshot {
  border-radius: 25%;
}

.hed,
.subhed {
  color: $kv-white;
}
