@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/themes";

.about {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 2rem 3rem;
  background-color: $kv-black;

  &__copy {
    color: $kv-white;
  }
}

.hed,
.subhed {
  color: $kv-white;
}
